// Imports //

@import "normalize.scss";
@import "fontawesome/font-awesome.scss";
@import "jquery-ui/jquery-ui.scss";


// Grid //
.onecol    { width: 5.801104972%;  }
.twocol    { width: 14.364640883%; }
.threecol  { width: 22.928176794%; }
.fourcol   { width: 31.491712705%; }
.fivecol   { width: 40.055248616%; }
.sixcol    { width: 48.618784527%; }
.sevencol  { width: 57.182320438000005%; }
.eightcol  { width: 65.74585634900001%; }
.ninecol   { width: 74.30939226%; }
.tencol    { width: 82.87292817100001%; }
.elevencol { width: 91.436464082%; }
.twelvecol { width: 99.999999993%; }

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	position: relative;
	float: left;
	margin-left: 2.762430939%;
}

@mixin first {
  float: left;
  margin-left: 0;
}
.first {
  float: left;
  margin-left: 0;
}

@mixin last {
  float: right;
}
.last {
  float: right;
}

@mixin border-radius($radius: 4px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}


// Variables //
$pink: 			  #C85868;
$purple: 		  #90556B;
$blue: 			  #2E4859;
$green:			  #6DA59C;
$lightgreen: 	#9BBCB1;
$white: 		  #fff;
$black: 		  #000;

$icons: "FontAwesome";

// Clearfix
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    *zoom:1;
}


// Styles //

// General Styles
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
	background: $blue;
	color: $white;
	font-size: 17px;
	line-height: 1.2;
}

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $green;
  }
}

h2 {
  margin: 0 0 10px 0;
}


// Layout
#container {

  // Header
  header {
    padding: 20px;
    position: relative;

    // Date Picker
    #date-picker {
      option {
        pointer: cursor;
      }

      // Date From
      #date-from {}

      // Date To
      #date-to {}
    }

    // Slider
    #airlapse-control {
      padding-top: 15px;

      #slider {
        margin-top: 8px; 
      }
    }

    label {
      margin-right: 8px;
      color: $lightgreen;
      cursor: pointer;
    }

    // Play Button
    #play-button {
      @extend .clearfix;
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;

      #logo {
        display: block;
        margin: 0 auto 15px;
      }

      // Play Icon & Text
      a#play-icon {
        height: 50%;
        display: block;
        @include border-radius();
        background: $lightgreen;
        font-family: $icons;
        font-size: 30px;
        line-height: 2.1;
        text-align: center;
        vertical-align: middle;
        color: $white;

        &.playing {
          &:before {
            color: $white;
            content: "\f04d";
          }
        }

        &.stopped {
          &:before {
            color: $white;
            content: "\f04b";
          }
        }

        &:hover {
          background: $green;
          color: $blue;
        }

        &:active {
          background: darken($green, 15%);
          color: $blue;
        }
      }
    }
  }

  // Leaflet Map
  #map {
    position: absolute;
    top: 163px; 
    bottom: 0; 
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}


// Form Inputs
select {
  cursor: pointer;
  color: $black;

  option {
    color: $black;
  }
}

input[type="text"] {
  width: 600px;
  background: none;
  border: none;
  color: $white;
}